@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4d5156;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* img {
  width: 100%;
  height: 100%;
  display: block;
} */

.external-link {
  color: #1a73e8;
}

.external-link:hover {
  text-decoration: underline;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

/* ----------------------------------- */
/* HOME */

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
}

.title {
  margin-bottom: 0.4rem;
  color: #202124;
  font-size: 6.4rem;
  line-height: 0.9;
}

.subtitle {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  line-height: 0.9;
  font-weight: 500;
}

.home-search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  height: 100%;
  left: 20px;
}

.home-search-container input {
  width: 480px;
  height: 48px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: none;
  border-radius: 24px;
  padding: 8px;
  padding-left: 50px;
  font-size: 1.6rem;
}

/* ---------------------------------- */
/* SEARCH RESULTS */

.search {
  padding: 40px 20px 80px;
}

.search-form {
  margin-bottom: 6rem;
}

.search-container {
  position: relative;
  margin-bottom: 1rem;
}

.search-container input {
  width: 100%;
  height: 48px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: none;
  border-radius: 24px;
  padding: 8px 88px 8px 24px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.6rem;
}

.buttons {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.divider {
  height: 65%;
  border-left: 1px solid #dadce0;
}

.buttons button {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
}

.results-number {
  text-align: right;
  padding-right: 14px;
  font-size: 1.4rem;
}

.no-matches {
  text-align: center;
  font-size: 2rem;
}

.repos-list {
  margin-bottom: 8rem;
}

.repos-list > * + * {
  border-top: solid 1px #ebebeb;
}

.btn-more-results {
  display: block;
  margin: 0 auto;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: 1px solid rgba(32, 33, 36, 0.6);
  border-radius: 34px;
  background-color: #ffffff;

  padding: 14px 24px;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-more-results:hover {
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.28);
  background-color: rgba(32, 33, 36, 0.05);
}

.btn-more-results:active {
  box-shadow: none;
  background-color: rgba(32, 33, 36, 0.05);
}

/* ------------------------------ */
/* REPO */

.repo-link {
  padding: 48px 0;
  display: flex;
  align-items: center;
  gap: 48px;
}

.owner-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* overflow: hidden; */
}

/* some images were behaving weirdly - this is the fix: */
.owner-avatar img {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
}

.repo-info {
  flex-grow: 1;
}

.repo-info-firstline,
.repo-info-dates {
  display: flex;
  justify-content: space-between;
}

.repo-info-firstline {
  margin-bottom: 0.4rem;
}

.repo-info-owner {
  margin-bottom: 1.6rem;
}

.repo-info-description {
  margin-bottom: 0.8rem;
}

.repo-info-languages {
  margin-bottom: 1.8rem;
}

/* .repo-info > .external-link {
  display: block;
  margin-bottom: 1.8rem;
} */

.repo-info-dates {
  font-size: 1.2rem;
}

/* -------------------------------- */
/* ACCOUNT DETAILS */

.account {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.back-arrow {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  cursor: pointer;
  transition: 0.2s;
}

.back-arrow:hover {
  background-color: #ebebeb;
}

.account-avatar {
  width: 420px;
  height: 420px;
  margin-bottom: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.account-avatar img {
  width: 100%;
}

.account-info {
  width: 60%;
}

.account-info-username,
.account-info-name {
  text-align: center;
}

.account-info-name {
  margin-bottom: 4rem;
}

.account-info-location {
  margin-top: -3.6rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.account-info-bio {
  margin-bottom: 0.6rem;
}

.account-info .external-link {
  display: block;
  margin-bottom: 2rem;
}

.account-info-lastline {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

/* ------------------ MEDIA QUERIES */

@media (max-width: 600px) {
  .home {
    padding: 25vh 40px;
  }

  .home form,
  .home-search-container,
  .home-search-container input {
    width: 100%;
  }

  .repo-link {
    flex-direction: column;
  }

  .repo-info {
    width: 100%;
  }

  .account-avatar {
    width: 70%;
    height: 70%;
  }

  .account-info {
    width: 80%;
  }
}
